.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
}
.footer__name {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
    max-width: calc(100% - 40px);
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
